.dialog-action {
  margin-top: 20px;
}

.mat-standard-chip.mat-chip-with-trailing-icon {
  padding: 0 5px 0 0;

  img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 50%;
  }
}
