<mat-card>
  <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
    <mat-card-subtitle class="no-margin">
      {{header}}
    </mat-card-subtitle>
    <button mat-icon-button color="t-blue" (click)="openAddFileDialog('add',null)">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-header>
  <mat-list *ngIf="files; else loading">
    <ng-container *ngIf="files.length; else noItem">
      <course-file *ngFor="let f of files" [file]="f" (update)="openAddFileDialog('edit',f)" (remove)="removeFile(f)">
      </course-file>
    </ng-container>
  </mat-list>
  <ng-template #loading>
    <app-spinner diameter="30"></app-spinner>
  </ng-template>
  <ng-template #noItem>
    <error-info>
      <h4 class="no-margin">No file found</h4>
    </error-info>
  </ng-template>
</mat-card>
