<div>
  <edit-section-wrapper header="General">
    <div>
      <user-setting-switch key="Message notifications">
        Ameer Hamza has messaged you.
      </user-setting-switch>
    </div>
  </edit-section-wrapper>
  <edit-section-wrapper header="Social">
    <div>
      <user-setting-switch key="Accepted request">
        Ameer Hamza accepted your request.
      </user-setting-switch>
    </div>
    <div>
      <user-setting-switch key="Post tags">
        Ameer Hamza tagged you in a post.
      </user-setting-switch>
    </div>
    <div>
      <user-setting-switch key="Post likes">
        Ameer Hamza liked your post.
      </user-setting-switch>
    </div>
    <div>
      <user-setting-switch key="Comments">
        Ameer Hamza commented on your post.
      </user-setting-switch>
    </div>
    <div>
      <user-setting-switch key="Comment tags">
        Ameer Hamza mentioned you in comment.
      </user-setting-switch>
    </div>
    <div>
      <user-setting-switch key="Replies">
        Ameer Hamza replied to your comment.
      </user-setting-switch>
    </div>
  </edit-section-wrapper>
  <edit-section-wrapper header="Blog">
    <div>
      <user-setting-switch key="Question votes">
        Ameer Hamza voted up your question.
      </user-setting-switch>
    </div>
    <div>
      <user-setting-switch key="Question replies">
        Ameer Hamza replied to your question.
      </user-setting-switch>
    </div>
    <div>
      <user-setting-switch key="Answer">
        Ameer Hamza answered your question.
      </user-setting-switch>
    </div>
    <div>
      <user-setting-switch key="Answer votes">
        Ameer Hamza voted up your answer.
      </user-setting-switch>
    </div>
    <div>
      <user-setting-switch key="Answer replies">
        Ameer Hamza replied to your answer.
      </user-setting-switch>
    </div>
    <div>
      <user-setting-switch key="Comment mentions">
        Ameer Hamza mentioned you in a comment.
      </user-setting-switch>
    </div>
  </edit-section-wrapper>
  <edit-section-wrapper header="Study">
    <div>
      <user-setting-switch key="Datesheet">
        Ameer Hamza updated datesheet.
      </user-setting-switch>
    </div>
    <div>
      <user-setting-switch key="Timetable">
        Ameer Hamza updated timetable.
      </user-setting-switch>
    </div>
    <div>
      <user-setting-switch key="Announcements">
        Ameer Hamza made an announcement.
      </user-setting-switch>
    </div>
    <div>
      <user-setting-switch key="Lectures">
        Ameer Hamza added a lecture.
      </user-setting-switch>
    </div>
    <div>
      <user-setting-switch key="Assignments">
        Ameer Hamza added an assignment.
      </user-setting-switch>
    </div>
    <div>
      <user-setting-switch key="Projects">
        Ameer Hamza added a project.
      </user-setting-switch>
    </div>
  </edit-section-wrapper>
</div>
