<div class="comment-wrapper" fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="10px">
  <mat-divider></mat-divider>
  <vote-vertical></vote-vertical>
  <div class="comment" fxFlex="85">
    <span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, magnam. Repudiandae ea autem animi.
      Eum eos necessitatibus sit, non, aspernatur esse, vero praesentium ratione voluptatum quis cum! Fuga,
      at quibusdam!
    </span>
    <a class="mat-link" routerLink="/user/profile/123">
      <span> - Ameer Hamza</span>
    </a>
    <small class="mat-t-teal"> - 13 Feb, 2016 12:12 am </small>
  </div>
  <menu-wrapper class="menu-wrapper" color="t-teal-l2" icon="more_horiz">
    <button mat-menu-item>Edit</button>
    <button mat-menu-item>Report</button>
  </menu-wrapper>
</div>
