<page-layout-wrapper header="Universities">
  <ng-container header-action>
    <a class="mat-link" routerLink="universities">See All</a>
  </ng-container>
  <ng-container content-1>
    <mat-card>
      <mat-card-content>
        <component-loader [loading]="isLoading" [data]="universities">
          <ng-template>
            <mat-list>
              <university-item *ngFor="let u of universities" [university]="u"></university-item>
            </mat-list>
          </ng-template>
          <ng-container error>
            No university found
          </ng-container>
        </component-loader>
      </mat-card-content>
    </mat-card>
  </ng-container>
</page-layout-wrapper>
