.message {
  padding: 10px;
  margin-bottom: 1px;
  font-size: 13px;
}

.other {
  background-color: rgba($color: #000000, $alpha: .1);
  border-radius: 0 20px 20px 0;
}

.self {
  margin-left: auto;
  background-color: blueviolet;
  color: white;
  border-radius: 20px 0 0 20px;
}

.self.start {
  border-top-right-radius: 20px;
}

.self.end {
  border-bottom-right-radius: 20px;
  margin-bottom: 5px;
}

.other.start {
  border-top-left-radius: 20px;
}
.other.end {
  border-bottom-left-radius: 20px;
  margin-bottom: 5px;
}