  /* 

         Background Colors

*/

/* Cyan Colors */
.mat-cyan-l2 {
  background-color: #4dd0e1 !important;
  color: #000;
}

.mat-cyan {
  background-color: #00bcd4 !important;
  color: #000;
}

.mat-cyan-d2 {
  background-color: #0097a7 !important;
  color: #fff;
}

/* Blue Colors  */


.mat-blue {
  background-color: #2196f3 !important;
  color: #000;
}

.mat-blue-d2 {
  background-color: #1976d2 !important;
  color: #fff;
}


/* Teal Colors  */


.mat-teal-l2 {
  background-color: #4db6ac !important;
  color: #000;
}

.mat-teal {
  background-color: #009688 !important;
  color: #000;
}

.mat-teal-d2 {
  background-color: #00796b !important;
  color: #fff;
}

/* 

        Text Colors

*/


/* Orange Colors  */


.mat-t-orange-l2 {
  color: #ffb74d !important;
}

.mat-t-orange {
  color: #ff9800 !important;
}

/* Blue Colors  */

.mat-t-blue {
  color: #2196f3 !important;
}

.mat-t-blue-d2 {
  color: #1976d2 !important;
}

/* Teal Colors  */

.mat-t-teal-l2 {
  color: #4db6ac !important;
}

.mat-t-teal {
  color: #009688 !important;
}

.mat-t-teal-d2 {
  color: #00796b !important;
}

/* Green Colors  */

.mat-t-green-l2 {
  color: #81c784 !important;
}

.mat-t-green {
  color: #4caf50 !important;
}

.mat-t-green-d2 {
  color: #388e3c !important;
}

/* Cyan Color */

.mat-t-cyan-d2 {
  color: #0097a7 !important;
}

.mat-t-cyan {
  color: #00bcd4 !important;
}

/* Black Color */

.mat-t-black {
  color: black !important;
}

.mat-t-black-l2 {
  color: rgba(0, 0, 0, 0.8) !important;
}

.mat-t-black-l3 {
  color: rgba(0, 0, 0, 0.7) !important;
}

/* White Color */

.mat-t-white {
  color: white !important;
}

/* Diamond Color */
.mat-t-diamond {
  color: #9ac5db;
}

/* Gold Color */
.mat-t-gold {
  color: #D4AF37;
}

/* Silver Color */
.mat-t-silver {
  color: #c4cace;
}

/* Silver Color */
.mat-t-bronze {
  color: #b08d57;
}
