<div class="review-container" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
  <img class="profile-image-avatar" src="assets/images/img-2.jpg" />
  <span fxFlex="90">
    <a class="mat-link" routerLink="/user/profile/1234">Ameer Hamza</a>
    <div class="mat-small">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, eius esse distinctio harum sed
      sunt id qui. Ad, culpa, maiores quas iste amet, quaerat cupiditate aspernatur unde accusantium porro omnis.
    </div>
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
      <span>
        <mat-icon color="t-orange">star</mat-icon>
        <mat-icon color="t-orange">star</mat-icon>
        <mat-icon color="t-orange">star</mat-icon>
        <mat-icon color="t-orange">star_border</mat-icon>
        <mat-icon color="t-orange">star_border</mat-icon>
      </span>
      <span class="mat-t-teal mat-small">
        Mar 9, 2019
      </span>
    </div>
  </span>
</div>