<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="50px">
  <img class="profile-image-avatar" src="assets/images/img-3.jpg" />
  <div>
    <h2 class="mat-h2"> Ameer Hamza</h2>
    <p class="mat-subtitle mat-t-teal">@ameer_businesslover</p>
    <p class="mat-subtitle mat-small mat-t-teal">Teacher</p>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <button mat-flat-button disableRipple>22 Followers</button>
      <button mat-flat-button disableRipple>40 Following</button>
      <a mat-button routerLink="/user/setting" color="primary">
        Edit Profile
      </a>
    </div>
  </div>
</div>
