<mat-card class="mat-elevation-z2">
  <mat-card-content>
    <div class="chat-groups">
      <h5 class="no-margin chat-header">Groups</h5>
      <button mat-flat-button disableRipple (click)="messageBoxOpened = true">
        {{"Section Discussion"| truncate:['27']}}
      </button>
      <button mat-flat-button disableRipple (click)="messageBoxOpened = true">
        {{"Analysis of Algorithm"| truncate:['27']}}
      </button>
      <button mat-flat-button disableRipple (click)="messageBoxOpened = true">
        {{"Fundamentals of Computer Programming"| truncate:['27']}}
      </button>
      <button mat-flat-button disableRipple (click)="messageBoxOpened = true">
        {{"Supporting Science Elective-1"| truncate:['27']}}
      </button>
      <button mat-flat-button disableRipple (click)="messageBoxOpened = true">
        {{"Supporting Science Elective-1"| truncate:['27']}}
      </button>
      <button mat-flat-button disableRipple (click)="messageBoxOpened = true">
        {{"Supporting Science Elective-1"| truncate:['27']}}
      </button>
      <button mat-flat-button disableRipple (click)="messageBoxOpened = true">
        {{"Supporting Science Elective-1"| truncate:['27']}}
      </button>
    </div>
    <mat-divider></mat-divider>
    <div class="fellows-list">
      <chat-item *ngFor="let f of [1,2,3,4,5,6,7,8,9,10]" (click)="messageBoxOpened=true"></chat-item>
    </div>
    <mat-form-field floatLabel="never">
      <input matInput #search placeholder="Search..." (keyup)="currentPanel?.close()" />
    </mat-form-field>
    <div *ngIf="messageBoxOpened" class="message-box">
      <message-box (close)="messageBoxOpened=false"></message-box>
    </div>
  </mat-card-content>
</mat-card>
