.mat-card {
  width: 250px;
  padding-bottom: 0;
}

.mat-card-subtitle {
  margin-bottom: 5px;
}

.header-image {
  background-size: cover;

}

.mat-tooltip {
  white-space: pre-line;
}

.mat-card-image {
  vertical-align: top;
  height: 200px;
}

.mat-card-title {
  font: 400 16px/28px Roboto, "Helvetica Neue", sans-serif;
  margin-bottom: 3px !important;
}

.mat-card-header menu-wrapper {
  margin-left: auto;
}
