<mat-card>
  <mat-card-header>
    <mat-card-title>{{type==='Question'?'Ask a question':'Provide an answer for'}}</mat-card-title>
    <mat-card-subtitle *ngIf="type==='Answer'">
      asdddd ddddd dddddd dsadsa dsa dsad sad sadsad dsa ds adsadddddddddd ds ads
      ad sadsadsad dsadsads dsa d sad sad sa dsa d sad sa dsa d sad
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <details-item class="mat-t-teal-d2" key="Tips">
      <div>
        <p>1. Language must be easily understandable</p>
        <p>2. {{type}} must be relevant and on topic so that others can easily understand</p>
        <p>3. Explain it enough that others can easily get your point of explanation</p>
      </div>
    </details-item>
    <form fxLayout="column wrap" [formGroup]="questionForm" fxLayoutAlign="center center">
      <ng-container *ngIf="type==='Question'">
        <mat-form-field>
          <input matInput placeholder="Title">
        </mat-form-field>
        <mat-form-field>
          <mat-chip-list #tagList>
            <mat-chip *ngFor="let tag of tags" selectable="true" removable="true" (removed)="remove(tag)">
              {{tag.name}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input placeholder="Select Tag" #tagInput [formControl]="tagControl" [matAutocomplete]="tagAutocomplete"
              [matChipInputFor]="tagList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" matChipInputAddOnBlur="true"
              (matChipInputTokenEnd)="add($event)" />
          </mat-chip-list>
          <mat-autocomplete #tagAutocomplete="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
              {{tag.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </ng-container>
      <tinymce formControlName="detailsControl" placeholder="Details" [config]="mceConfig">
      </tinymce>
      <button mat-flat-button color="primary">
        Post
      </button>
    </form>
  </mat-card-content>
</mat-card>
