<div class="message-box-content">
  <message-item start='true' self="true"></message-item>
  <message-item self="true"></message-item>
  <message-item end='true' self="true"></message-item>
  <message-item start='true' self="false"></message-item>
  <message-item end='true' self="false"></message-item>
  <message-item start='true' end='true' self="true"></message-item>
  <message-item start='true' self="false"></message-item>
  <message-item self="false"></message-item>
  <message-item end='true' self="false"></message-item>
  <message-item start='true' end='true' self="true"></message-item>
</div>
