<div class="campus-cover-container">
  <img class="campus-wall-cover" src="assets/images/img-5.jpg" />
  <div class="campus-details-container">
    <h3 class="mat-h3 no-margin"> Hafiz Hayat Campus</h3>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div class="info" fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="10px">
        <button mat-flat-button disableRipple>22 Teachers</button>
        <button mat-flat-button disableRipple>40 Students</button>
        <button mat-flat-button disableRipple>40 Followers</button>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <button mat-flat-button color="t-teal" disableRipple>Follow</button>
        <button mat-icon-button disableRipple>
          <mat-icon>photo_camera</mat-icon>
        </button>
      </div>
    </div>

  </div>
</div>
