$sideNavItemHeight:30px;


.mat-drawer-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
}

.mat-drawer {
  padding: 20px 60px;
  background-color: transparent;
  border:none;

}

.mat-list-base {
  margin-top: 5%;
}

.mat-list-base .mat-list-item {
  height: $sideNavItemHeight;
  font-size: 14px;
  color: rgb(78, 97, 97);
}

h5 {
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

.mat-drawer-content {
  padding: 30px;
}
